//creativecommons.org base styles
.text-format {
  a {
    img {
      display: block;
    }
  }
  p {
    margin-bottom: 1.75rem;
  }
}

a,
a:hover {
  color: $color-forest-green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

html {
  scroll-behavior: smooth;
}
