@import "bulma/sass/utilities/_all.sass";

.choose-license {
  padding: $space-big;
  color: $color-black;
  background-color: $color-gray;
  h2,
  p {
    a {
      color: $color-white;
    }
  }
  .image {
    padding-bottom: $space-normal;
    margin-bottom: $space-normal;
    border-bottom: 1px solid $color-white;
  }
}

.platform-partner {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    list-style: none !important;
    li {
      flex: 0 1 18%;
      img {
        max-width: none;
        width: 100%;
      }
    }
  }
}
.cc-team-shortcode {
  .cc-team-listing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    list-style: none;
    li {
      flex: 0 1 30%;
      position: relative;
      padding-bottom: 50px;
      margin-bottom: $space-big;
      list-style-image: none;
      background-color: $color-lighter-gray;
      .intro {
        padding: $space-big;
        .name {
          font-size: 1.8rem;
          font-weight: 700;
        }
        .position {
          color: $color-dark-slate-gray;
          font-weight: 700;
        }
        .description {
          padding-top: $space-small;
          border-top: 2px solid $color-white;
          .more {
            text-transform: uppercase;
            font-weight: 700;
          }
        }
      }
    }
  }
}

// Overrides for the header
.wp-theme-certificates {
  .single-header,
  .page-header {
    color: $color-black;
    background-color: $color-primary;
  }

  .page-title {
    font-size: $font-size-h1;
    color: $color-black;
  }

  .breadcrumbs {
    font-size: 13px; // the value in figma, seems small though.
    font-weight: 600;
    padding-bottom: $space-bigger;

    a {
      color: $color-forest-green;
    }

    .icon {
      font-size: 10px;
    }

    // If there's only one item in the breadcrumb, fix padding
    span > span:first-child > :first-child {
      padding-left: 0;
    }

    a,
    .breadcrumb_last {
      padding-right: $space-small;
      padding-left: $space-small;
    }
  }
}

// Overrides for the homepage hero
.wp-theme-certificates .home-hero {
  color: $color-black;
  background-color: $color-primary;
  position: relative;
  overflow: hidden;

  .content {
    padding: 0 $space-big !important; // :-(
    padding-top: $space-bigger !important; // :-(

    @include tablet() {
      z-index: 1;
      position: relative;
      width: 500px;
      max-width: 100%;
      margin-right: auto;
      margin-left: 0;
      padding: 0;
      padding-top: 96px !important; // to override vocab
    }
  }

  .img-wrapper {
    img {
      width: 100%;
      margin-bottom: -6rem;
    }

    @include mobile {
      &:after {
        content: "";
        position: absolute;
        top: calc(100% + 4rem);
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        background-color: whitesmoke;
        height: 2000px;
        z-index: 1;
      }
    }

    @include tablet() {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: right;
      z-index: 0;

      img {
        width: calc(100% - 400px); // container width - content width
        margin-right: -4rem;
        height: auto;
      }
    }
  }

  .courses,
  .additional-info {
    position: relative;
    z-index: 2;
  }

  .courses {
    @include mobile() {
      .course {
        margin-bottom: $space-normal;
      }
    }

    @include touch() {
      padding: 0 $space-big;
    }

    @include tablet() {
      display: flex;
      align-items: stretch;
      column-gap: $space-larger;
      margin-bottom: $space-bigger;
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $color-lighter-gray;
    height: 180px;
  }
}

.wp-theme-certificates .after-faq {
  @include touch() {
    margin-top: $space-xl;
  }
}

// FAQ Page
.wp-theme-certificates.page-template-template-faq {
  .faq-sidebar {
    position: sticky;
    top: $space-normal;
  }

  .faq-sidebar .active {
    font-weight: bold;
  }
}
