// This file contains override or other 'hacky' things to fix bugs, problems, etc.
// Code here should be commented with a relevant issue or explanation.
@import "bulma/sass/utilities/_all.sass";

// Fix navbar alignment issues with other containers
.wp-theme-certificates .navbar {
  @include touch {
    padding: $space-normal $space-small;
  }
  @include desktop {
    padding: $space-large 0;
  }
}

// Make sure page is always at least as tall as the user's screen (so don't see ugly whitespace below footer on short pages)
// will fail gracefully on browsers without grid support :)
.wp-theme-certificates {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

span.icon {
  display: block;
  width: $space-big;
  height: $space-big;

  svg {
    fill: currentcolor;
  }
}

// Accordion component
// @todo: Should this be in vocabulary? Do/will we use this anywhere else?

.accordion {
  .accordion-item {
    border-bottom: 2px solid $color-light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

// Override HR color on grey bg
.has-background-grey-lighter {
  hr {
    margin: $space-bigger 0;
    background-color: $color-light-gray;
  }
}

// Custom twitter button
.button.twitter {
  color: $color-white;
  background-color: #2aa3ef;
  border-color: currentcolor;
  text-transform: none;
  font-family: "Source Sans Pro";
  font-weight: bold;
}

// Custom Register Button
.button.register {
  color: $color-white;
  background-color: $color-forest-green;
  border-color: $color-forest-green;
}

// Remove unneeded logo margin (comes from vocabulary)
.navbar-brand {
  margin-left: 0 !important;
}
