// This file contains override or other 'hacky' things to fix bugs, problems, etc.
// Code here should be commented with a relevant issue or explanation.
@import "bulma/sass/utilities/_all.sass";

// Pressbooks hides the WordPress Admin bar, but doesn't remove the empty space :/
html {
  margin-top: 0 !important;
}

// Fix navbar alignment issues with other containers
.wp-theme-certificates .navbar {
  @include touch {
    padding: $space-normal $space-small;
  }
  @include desktop {
    padding: $space-large 0;
  }
}

// Make sure page is always at least as tall as the user's screen (so don't see ugly whitespace below footer on short pages)
// will fail gracefully on browsers without grid support :)
.wp-theme-certificates {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

span.icon {
  display: block;
  width: $space-big;
  height: $space-big;

  svg {
    fill: currentcolor;
  }
}

// Accordion component
// @todo: Should this be in vocabulary? Do/will we use this anywhere else?
.accordion {
  .accordion-item {
    border-bottom: 2px solid $color-light-gray;

    .accordion-header {
      border: none;
      background-color: transparent;
      appearance: none;
      width: 100%;
      -webkit-appearance: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:focus {
        outline-color: $color-forest-green;
      }
    }

    &:hover {
      cursor: pointer;
    }

    .accordion-body[hidden] {
      visibility: hidden;
    }
  }
}

// Override HR color on grey bg
.has-background-grey-lighter {
  hr {
    margin: $space-bigger 0;
    background-color: $color-light-gray;
  }
}

// Custom twitter button
.button.twitter {
  color: $color-white;
  background-color: #2aa3ef;
  border-color: currentcolor;
  text-transform: none;
  font-family: "Source Sans Pro";
  font-weight: bold;
}

// Custom Register Button
.button.register {
  color: $color-white;
  background-color: $color-forest-green;
  border-color: $color-forest-green;
}

// Remove unneeded logo margin (comes from vocabulary)
.navbar-brand {
  margin-left: 0 !important;
}

// Fix bad columns ruining the entire layout
main {
  max-width: 100%;
  display: block;
}

// A class for the standard horizontal padding most components have on mobile.
.padding-touch-horizontal {
  @include touch() {
    padding-left: $space-big;
    padding-right: $space-big;
  }
}

@include touch() {
  .container {
    padding-left: $space-normal;
    padding-right: $space-normal;
  }
}

.has-background-soft-gold {
  background-color: #fef6d8;
}
